<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>

    <h2>仓管系统登录页面</h2>
    错误信息：<h3 th:text="${msg}"></h3>
    <form action="",method="post">
            <input TYPE="text" name="usernName" id="userName" placeholder="请输入账号" />
            <input type="password" name="password" id="password" placeholder="请输入密码" />
            <button type="submit" id="ajaxLogin" >登录</button>
    </form>
</body>
<script>
    var username = document.getElementById("userName");
    var password = document.getElementById("password");
</script>
</html>